.FoldersContainer{
    width: 40%;
    height: 90%;
    background-color: rgba(255, 232, 232, 0.459);
    border-radius: 20px;
    padding: 1rem;
    overflow: scroll;
}

.TasksContainer{
    width: 50%;
    height: 90%;
    background-color: rgba(255, 232, 232, 0.459);
    border-radius: 20px;
    padding: 1rem;
    overflow: scroll;
}

.FolderTitle{
    font-family: 'Julius Sans One', sans-serif;
    font-size: 1.5rem;
    color: #BF4D4D;
    transition: all 0.4s ease;
}

.FolderTitle:hover{
    letter-spacing: 1px;
    cursor: default;
}

.FolderControl{
    margin-top: 2rem;
    width: 100%;
}

.AddFolderSign{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    color: #BF4D4D;
    font-size: 2rem;
    opacity: 0.7;
    transition: all 0.4s ease;
}

.AddFolderSign:hover{
    opacity: 1;
    cursor: pointer;
}

.AddFolderInput{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: rgba(255, 232, 232, 0.925);
    border-radius: 20px;
    padding: 0.5rem 1rem;
}

input{
    height: 2rem;
    width: 85%;
    border: transparent;
    font-family: 'Quicksand', sans-serif;
    font-size: 1rem;
    padding: 0 0.5rem;
}
/* 
input:focus{
    outline: none;
} */

.Icon{
    color: #BF4D4D;
    opacity: 0.7;
    transition: all 0.4s ease-out;
    padding: 0.5rem;
}

.Icon:hover{
    cursor: pointer;
    opacity: 1;
    transform: rotate(180deg);
}