.App{
    margin: 0;
}

.Content{
    margin: 0 auto;
    margin-top: 3rem;
    width: 85vw;
    height: 80vh;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

@media(max-width: 868px) {
    .Content{
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
    }
}