body {
  margin: 0;
  /* font-family: 'Julius Sans One', sans-serif; */
  font-family: 'Quicksand', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #1F284D;
  box-sizing: border-box;
}


/*  color palette

RED: #BF4D4D
PINK: #FFE8E8
CREAM: #F4ECE6

*/